body
{
    font-family:'Open Sans', sans-serif;
}

.ms-3
{
    margin-left: 12.8rem !important;
}



.Brand img
{
    width: 7.5%;
    position: absolute;
    z-index: 11;
    top: -0.6rem;
    left: 2rem;
}

.top-bar
{
  z-index: 10;
  background-color: #F8EDE3 !important;
}


.btn-danger
{
    background-color: #85586F  !important;
    
}

.btn-danger:hover
{
    opacity: 0.7;
}

.bottom-bar
{
    background-color: #e6e6e6 !important;
    opacity: 0.9 !important;

}
.drpwn {
    margin-left: 15rem !important;
}


.s {
    font-size: 1.3rem !important;
}

.imgg {
    width: 60rem !important;
    height: 20rem !important;

}

.serit {
    width: 80% !important;
    margin: auto;

}

.card
{
    border: solid 0.09rem rgb(0, 0, 0, 0.5)  !important;
    object-fit: cover !important;
    display: inline-block;
}

.card:hover
{
    transform: translateY(-0.7rem) !important;
    transition-duration: 0.7s !important;
    opacity: 0.8;
}


.money
{
    width: 100% !important;
    height: auto !important;
    color: black !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.money h5
{
    font-size: 0.7rem !important;
}

.icon-group
{
    font-size: 0.7rem;
}

.second-content
{
    margin-left: 3.4rem;
}
