body
{
    font-family:'Open Sans', sans-serif;
}

.ms-3
{
    margin-left: 12.8rem !important;
}



.Brand img
{
    width: 7.5%;
    position: absolute;
    z-index: 11;
    top: -0.6rem;
    left: 2rem;
}

.top-bar
{
  z-index: 10;
  background-color: #F8EDE3 !important;
}


.btn-danger
{
    background-color: #85586F  !important;
    
}

.btn-danger:hover
{
    opacity: 0.7;
}

.bottom-bar
{
    background-color: #e6e6e6 !important;
    opacity: 0.9 !important;
}
.drpwn {
    margin-left: 15rem !important;
}


.s {
    font-size: 1.3rem !important;
}

.imgg {
    width: 60rem !important;
    height: 20rem !important;

}

.serit {
    width: 80% !important;
    margin: auto;

}
