body
{
    font-family:'Open Sans', sans-serif;
}

.ms-3
{
    margin-left: 12.8rem !important;
}



.Brand img
{
    width: 7.5%;
    position: absolute;
    z-index: 11;
    top: -0.6rem;
    left: 2rem;
}

.top-bar
{
  z-index: 10;
  background-color: #F8EDE3 !important;
}


.btn-danger
{
    background-color: #85586F  !important;
    
}

.btn-danger:hover
{
    opacity: 0.7;
}

.bottom-bar
{
    background-color: #e6e6e6 !important;

}
.drpwn {
    margin-left: 15rem !important;
}


.s {
    font-size: 1.3rem !important;
}

.imgg {
    width: 60rem !important;
    height: 20rem !important;

}

.content
{
    margin-top: 8rem;
}

.serit 
{
    width: 80% !important;
    margin: auto;

}

.card
{
    border: solid 0.09rem rgb(0, 0, 0, 0.5)  !important;
    object-fit: cover !important;
    display: inline-block;
}

.card:hover
{
    transform: translateY(-0.7rem) !important;
    transition-duration: 0.7s !important;
    opacity: 0.7;
}


.money
{
    width: 100% !important;
    height: auto !important;
    color: black !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.money h5
{
    font-size: 0.7rem !important;
}

.icon-group
{
    font-size: 0.7rem;
}

.sn
{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    margin-top: 3rem;
}

.brdr
{
    width: 21rem;
    height: 0.17rem;
    background-color: #85586F;
    margin: auto;
    margin-top: 0.36rem;
    margin-bottom: 2.5rem;
    border-radius: 0.8rem;
}

.lf
{
    margin-left: 7.95rem !important;
}

.second-content
{
    margin-top: 7rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.imggg
{
    height: 15.7rem;
}

.stcky
{
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
}

.number
{
    position: absolute;
    top: -3.8rem;
    left: 3.6rem;
    width: 2rem;
    height: 2rem;
    background-color: #85586F;
    opacity: 0.93;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0.2rem  #85586F;
}

.head
{
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 1.5rem;
    text-align: center;
}

.head span
{
    padding: 0.5rem 2rem;
    background-color: #F8EDE3;
    border-radius: 0.6rem;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-weight: 1rem;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0.1rem 0.2rem  #85586F;
    letter-spacing: 0.08rem;
}

.borderr
{

    border: 0.01rem solid #85586F;
    width: 86%;
    margin: auto;
}

.btn
{
    background-color: #85586F;
    opacity: 0.9;
    font-size: 0.84rem;
    border: none;
    letter-spacing: 0.02rem;
}

.btn:hover
{
    opacity: 0.7;
    background-color: #85586F;
    transition: 0.3s;
}

.button
{
    text-align: center;
    margin-bottom: 1.6rem;
}

.discount
{
    font-size: 0.93rem;
    text-decoration: line-through;
    color: firebrick;
}

.p-discount
{
    width: 100%;
    position: absolute;
    top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.container-yay
{
    width: 86%;
    margin: auto;
}

.container-y
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.yay-card
{
    border: solid 0.05rem black;
    border-radius: 1rem;
    position: relative;   
}

.yay-img
{
    width: 10rem;
    height: 8rem;
    border-radius: 1rem; 
}

.yay-card:hover > .hover
{
    visibility: visible; 
}

.hover
{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;  
}


.hover span
{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
}

.sixty
{
    margin-top: 6rem;
}

.card-yaz
{
    margin-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.img-yaz
{
    height: 11.2rem; 
    width: 10rem; 
    object-fit:fill;
}

.card-text
{
    font-size: 0.77rem;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.9;
}

.seventh-second
{
    margin-top: 5rem;
}

.container-tur
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 2.4rem;
}

.tür
{
    width: 6rem;
    border: solid 0.08rem black;
    border-radius: 50%;
    box-shadow: 0.24rem 0.24rem  rgba(0, 0, 0, 0.66);
}

.tür:hover
{
    box-shadow: 0 0 black;
    transition: 1s;
}

.text-tür
{
    text-align: center;
    margin-top: 0.7rem;
}

.linkkk
{
    text-decoration: none;
    color: black;
}

.linkkk:hover
{
    opacity: 0.6;
    transition: 0.4s;
}
